/* Contenedor principal del formulario */
.form-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  width: auto; /* Limitar el ancho máximo */
  margin: 10px auto; /* Centramos el formulario */
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
}

/* Botón para mostrar/ocultar el formulario */
.hidden-form {
  display: block;
  margin: 0 auto 10px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.hidden-form:hover {
  background-color: #eaeaea;
  transform: scale(1.03);
}

/* Título del formulario */
h2 {
  text-align: center;
  color: #000;
  font-size: 22px;
  margin-bottom: 20px;
}

/* Grupo de entradas */
.form-group {
  margin-bottom: 15px;
}

.form-group label{
  display: block;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
  font-weight: bolder;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  transition: border-color 0.3s, background-color 0.3s;
}

.form-group input:focus {
  border-color: #000;
  background-color: #fff;
  outline: none;
}

/* Botón de enviar */
.send-button-form {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #000;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.send-button-form:hover {
  background-color: #333;
  transform: scale(1.05);
}

/* Mensaje de error */
.resumen p {
  color: #e74c3c;
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}

/* Estilo de la fecha */
.input-fecha {
  background-color: #f5f5f5;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  transition: border-color 0.3s;
}

.input-fecha:focus {
  border-color: #000;
  outline: none;
}
