.about {
  margin: 10% 5%;
}

.about h2 {
  font-size: 2rem;
}

.about p {
  font-size: 16px;
  color: #000;
  align-content: justify;
}

/* Estilos del contenedor */
.contact {
  width: 600px;
  margin-top: 25%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;

}

/* Título del formulario */
.contact h2 {
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

/* Estilos del formulario */
.contact form {
  display: flex;
  flex-direction: column;
}

.contact #mensaje {
  width: 90% !important;
}

.contact form div {
  margin-bottom: 15px;
  display: grid;
  place-items: center;
}

.contact label {
  font-weight: bold;
  color: #000;
  display: block;
  margin-bottom: 5px;
}

.contact input,
textarea {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.contact textarea {
  height: 100px;
}
.contact p {
  color: #000;
  font-size: 16px;
}

/* Estilo del botón */
.contact button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: #45a049;
}

/* Estilos de la notificación */
.contact #notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

/* Estilo para notificación de éxito */
.contact #notification.success {
  background-color: #4caf50; /* Verde */
}

/* Estilo para notificación de error */
.contact #notification.error {
  background-color: #f44336; /* Rojo */
}

/* Visibilidad de la notificación */
.contact #notification.hidden {
  visibility: hidden;
  opacity: 0;
}

.contact #notification.show {
  visibility: visible;
  opacity: 1;
}
.contact.fade-out {
    opacity: 0;
    transition: opacity 3s ease-out;  /* Desvanecimiento gradual en 1.5 segundos */
  }