
/* VerticalNavbar.css */
.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 15%; 
  height: 100vh;
  background-color: #000; 
  color: #fff;
  padding-top: 30px;
  border-radius: 5px;
}

.navbar ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin: 20px 10px; 
}

.navbar ul li a {
  display: flex;
  align-items: center; 
  text-decoration: none; 
  color: #fff;
  padding: 10px;
  font-size: 18px; 
  transition: background-color 0.3s ease; 
  cursor: pointer;
}

.navbar ul li a:hover {
  background-color: #575757; 
  border-radius: 5px;
}

.navbar ul li a svg {
  margin-right: 10px; 
}



.navbar-clock {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
   padding: 10px;
}

.navbar-clock h1 {
  font-size: 36px;
  margin-bottom: 5%;
  color: #fff;
}

.navbar-clock p {
  font-size: 16px;
  margin: 0;
  color: #fff;
}





@media (max-width: 660px) {
  .navbar {
    display: none; /* Oculta la barra de navegación por defecto */
    width: 100%;
    height: 100vh;
    padding-top: 10px;
    border-radius: 0;
  }}