/* El contenedor de ResumenPorEtiqueta */
.resumen-por-etiqueta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}
.resumen {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.resumen h2 {
  font-size: 1.5em;

}

.resumen-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0;

}

.resumen-seccion {
  flex: 1;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.resumen-seccion h3 {
  font-size: 1.2em;
  margin: 5px;
  color: #000;
}

.resumen-seccion ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: block;
}

.resumen-seccion li {
  margin-bottom: 5px;
  color: black;
  font-size: 14px;
  
}

.resumen-seccion strong {
  font-weight: bolder;
}

.resumen-seccion canvas {
  width: 100% !important; /* Asegura que los gráficos se adapten bien al contenedor */
  height: 100% !important;

}
/* El contenedor de ResumenPorEtiqueta */
.resumen-por-etiqueta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 25px;

}


/* Responsivo para pantallas pequeñas */
@media (max-width: 660px) {
  .resumen-contenedor {
    flex-direction: column; /* Apilar los gráficos verticalmente */
    align-items: center;

  }

  .resumen-seccion {
    width: 90%;
    margin-bottom: 20px;

  }
}