/* El contenedor de ResumenPorEtiqueta */
.resumen-por-etiqueta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;

}
.resumen {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 10px;
 
}

.resumen h2 {
  font-size: 1.5em;

}

.resumen-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0;


}

.resumen-seccion {
  flex: 1;
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  margin: 8px;
  border: 1px solid #ccc;
}

.resumen-seccion h3 {
  font-size: 1.2em;
  margin: 5px;
  color: #000;
}

.resumen-seccion ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: block;
}

.resumen-seccion li {
  margin-bottom: 5px;
  color: black;
  font-size: 14px;
  
}

.resumen-seccion strong {
  font-weight: bolder;
}

.resumen-seccion canvas {
  width: 100% !important; /* Asegura que los gráficos se adapten bien al contenedor */
  height: 100% !important;

}
/* El contenedor de ResumenPorEtiqueta */
.resumen-por-etiqueta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 25px;

}

.pie-chart-container {
  width: 250px;  /* Ajusta el ancho a lo que necesites */
  height: 250px; /* Ajusta la altura a lo que necesites */
  margin: 0 auto; /* Centra los gráficos */
}

.pie-chart-container2 {
  width: 250px;  /* Ajusta el ancho a lo que necesites */
  height: 250px; /* Ajusta la altura a lo que necesites */
  margin: 0 auto; /* Centra los gráficos */
}




/* Responsivo para pantallas pequeñas */
@media (max-width: 660px) {
  .resumen-contenedor {
display: none;

  }

  .hidden-form2{
    display: none;
  }

  .resumen-seccion {
    width: 90%;
    margin-bottom: 20px;
 
  }


.resumen h2 {
  font-size: 1.2em;
  display: none;

}

.resumen-contenedor {

  gap: 8px;


}

.resumen-seccion {

  padding: 8px;
  margin-top: 8px;
}


.resumen-por-etiqueta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 0px;

}
}

